// SPDX-License-Identifier: GPL-2.0-only
/*
 * camera lwis device tree for MBU device
 *
 * Copyright 2025 Google LLC.
 *
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/lwis/platform/malibu/tof.h>

&camera_buck_boost {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};

&sgm38122_csia {
	google,enable-pin-can-restart;
};
&sgm38122_csie {
	google,enable-pin-can-restart;
};
&sgm38122_csif {
	google,enable-pin-can-restart;
};
&sgm38122_csif_i2c {
	google,enable-pin-can-restart;
};

/* FCAM: switch I2C/I3C explicitly */
&xlsioe_i23c6_scl {
	function = "lsioe_i3c";
};
&xlsioe_i23c6_sda {
	function = "lsioe_i3c";
};
&lsioe_i2c1 {
	status = "disabled";
};
&lsioe_i3c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	i3c-scl-hz = <6000000>;
	i2c-sda-falling-time-ns = <160>;
	i2c-scl-falling-time-ns = <120>;


	/* Lwis placeholder for FCAM */
	taotie_front_placeholder_i3c: taotie_front_placeholder_i3c@0 {
		compatible = "google,lwis-placeholder";
		/* I2C */
		reg = <0x1A 0x0 0x20>;
	};
	cornerfolk_front_placeholder_i3c: cornerfolk_front_placeholder_i3c@0 {
		compatible = "google,lwis-placeholder";
		/* I2C */
		reg = <0xC 0x0 0x20>;
	};
	smaug_front_placeholder_i3c: smaug_front_placeholder_i3c@0 {
		compatible = "google,lwis-placeholder";
		/* I2C */
		reg = <0x51 0x0 0x20>;
	};
};

&xlsioe_i23c7_scl {
	function = "lsioe_i2c";
};

&xlsioe_i23c7_sda {
	function = "lsioe_i2c";
};

&xlsios_i23c2_scl {
	function = "lsios_i2c2";
};

&xlsios_i23c2_sda {
	function = "lsios_i2c2";
};

&xlsios_i23c3_scl {
	function = "lsios_i2c3";
};

&xlsios_i23c3_sda {
	function = "lsios_i2c3";
};

&sgm38122_dvdd_csia {
	regulator-min-microvolt = <1152000>;
	regulator-max-microvolt = <1152000>;
};

&sgm38122_avdd1_csia {
	regulator-min-microvolt = <3008000>;
	regulator-max-microvolt = <3008000>;
};

&sgm38122_avdd2_csia {
	regulator-min-microvolt = <2856000>;
	regulator-max-microvolt = <2856000>;
};

&sgm38122_avdd3_csia {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&sgm38122_dvdd_csie {
	regulator-min-microvolt = <1152000>;
	regulator-max-microvolt = <1152000>;
};

&sgm38122_avdd1_csie {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&sgm38122_avdd2_csie {
	regulator-min-microvolt = <2856000>;
	regulator-max-microvolt = <2856000>;
};

&sgm38122_dvdd_csif_i2c {
	regulator-min-microvolt = <1056000>;
	regulator-max-microvolt = <1056000>;
};

&sgm38122_avdd1_csif_i2c {
	regulator-min-microvolt = <2856000>;
	regulator-max-microvolt = <2856000>;
};

&sgm38122_avdd2_csif_i2c {
	regulator-min-microvolt = <2256000>;
	regulator-max-microvolt = <2256000>;
};

&sgm38122_avdd3_csif_i2c {
	regulator-min-microvolt = <3200000>;
	regulator-max-microvolt = <3200000>;
};

&rcam_lvbuck {
	regulator-min-microvolt = <850000>;
	regulator-max-microvolt = <850000>;
};

&lsios_spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	google,spi-gpio-cs-with-cpol-high;
	tof0: tof@0 {
		compatible = "google,lwis-spi-device";

		/* SPI_CONFIG */
		reg = <0>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;

		/* Device node name */
		node-name = "tof-tarasque";

		/* Registers */
		reg-addr-bitwidth = <16>;
		reg-value-bitwidth = <8>;

		/* MCLK Control */
		/* LWIS DT parser explicitly requires mclk_on pinctrl */
		pinctrl-names = "default", "mclk_on", "mclk_off";
		pinctrl-0 = <&ldaf2aoss_irq_od_l_1v2>;
		pinctrl-1 = <&ldaf2aoss_irq_od_l_1v2>;
		pinctrl-2 = <>;

		irq-gpios = <LDAF2AOSS_IRQ_OD_L_1V2(GPIO_ACTIVE_LOW)>;
		irq-gpios-names = "tof-irq";
		irq-gpios-events = <LWIS_PLATFORM_EVENT_ID_TOF_DATA_POLLING>;
		irq-gpios-types = <IRQ_TYPE_EDGE_FALLING>;

		/* Power supplies */
		/* VADD 3.3V */
		l27m-supply = <&ldo_27m_reg>;

		/* Power up sequence */
		power-up-seqs =
			"l27m",
			"mclk_on";
		power-up-seq-types =
			"regulator",
			"pinctrl";
		power-up-seq-delays-us =
			<0
			 0>;

		/* Power down sequence */
		power-down-seqs =
			"mclk_off",
			"l27m";
		power-down-seq-types =
			"pinctrl",
			"regulator";
		power-down-seq-delays-us =
			<0
			 0>;

		/* Thread priority */
		/* This is made to be lower than image sensor's thread */
		/* thread priority to allow uninterrupted image sensor */
		/* operation during periods of high CPU contention. */
		transaction-thread-priority = <100>;
	};
};

/ {
	fragment@kodiak_rcam_supply {
		target-path = "/";
		__overlay__ {
			kodiak_rcam_vana: kodiak_rcam_supply@0 {
				compatible = "regulator-fixed";
				status = "okay";
				regulator-name = "RCAM_VANA";
				regulator-min-microvolt = <2250000>;
				regulator-max-microvolt = <2250000>;
				/* 0ms */
				regulator-enable-ramp-delay = <0>;
				enable-active-high;
				/* VANA_EN */
				gpio = <PMICM2RCAM_VANA_EN(GPIO_ACTIVE_HIGH)>;
			};
		};
	};
};

/ {
	fragment@lwiscamera {
		target-path = "/";
		__overlay__ {
			camera_base_pwrseq: camera_base_pwrseq@0 {
				compatible = "google,lwis-pwrseq-device";

				/* Device node name */
				node-name = "pwrseq-base";
				/* Power sequence target name */
				target-name = "camera_base";

				/* GPIOs */
				i2c-sel-gpios = <AP2CAM_I2C_SEL(GPIO_ACTIVE_LOW)>;

				/* Power supplies */
				bb_cam-supply = <&camera_buck_boost>;

				/* power up sequence */
				power-up-seqs =
					"i2c-sel",
					"bb_cam",
					"fast-bb_cam";
				power-up-seq-types =
					"gpio",
					"regulator",
					"regulator_mode";
				power-up-seq-delays-us =
					<0
					 0
					 1000>;

				/* power down sequence */
				power-down-seqs =
					"normal-bb_cam",
					"bb_cam",
					"i2c-sel";
				power-down-seq-types =
					"regulator_mode",
					"regulator",
					"gpio";
				power-down-seq-delays-us =
					<0
					 0
					 1000>;
			};

			/* Power sequence for REAR MAIN CAMERA */
			rear_main_camera_pwrseq: rear_main_camera_pwrseq@0 {
				compatible = "google,lwis-pwrseq-device";

				/* Device node name */
				node-name = "pwrseq-rmain";
				/* Power sequence target name */
				target-name = "rear_main_camera";

				/* Sequencer sources */
				sequencer-sources = <&camera_base_pwrseq>;

				/* GPIOs */
				vm_vana_enable-gpios = <PMICM2RCAM_AFOIS_VANA_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				mvbuck-supply = <&cam_pp1350_mvbuck>;
				vio-supply = <&ldo_22s_reg>;
				vdig-supply = <&rcam_lvbuck>;
				af_vm-supply = <&sgm38122_avdd3_csia>;
				ois_vm-supply = <&ldo_26m_reg>;
				vana-supply = <&kodiak_rcam_vana>;

				/* MCLK + VSYNC Control*/
				pinctrl-names = "mclk_on", "mclk_off", "vsync_on", "vsync_off";
				pinctrl-0 = <&ap2rcam_mclk_24mhz>;
				pinctrl-1 = <&ap2rcam_mclk_24mhz_sleep>;
				pinctrl-2 = <&rcam2ap_vsync>;
				pinctrl-3 = <&rcam2ap_vsync_sleep>;

				power-up-seqs =
					"camera_base",
					"mvbuck",
					"vio",
					"vana",
					"vdig",
					"vm_vana_enable",
					"af_vm",
					"ois_vm",
					"mclk_on",
					"vsync_on";
				power-up-seq-types =
					"pwrseq",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"pinctrl",
					"pinctrl";
				power-up-seq-delays-us =
					<0
					 0
					 1500
					 0
					 1000
					 1000
					 0
					 0
					 0
					 /* AF need 7.1ms (rounded to 8ms) before I2C stable,
					    added the remaining here */
					 8000>;

				power-down-seqs =
					"vsync_off",
					"mclk_off",
					"ois_vm",
					"af_vm",
					"vm_vana_enable",
					"vdig",
					"vana",
					"vio",
					"mvbuck",
					"camera_base";

				power-down-seq-types =
					"pinctrl",
					"pinctrl",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pwrseq";
				power-down-seq-delays-us =
					<0
					 1000
					 0
					 1000
					 1000
					 0
					 1000
					 0
					 200
					 0>;
			};

			/* REAR CAMERA BASTET CSIB */
			sensor0: sensor@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-bastet";

				/* I2C */
				i2c-bus = <&lsios_i2c2>;
				i2c-addr = <0x3D>;

				/* Power up mode */
				lwis,power-up-to-suspend;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* GPIOs */
				reset-gpios = <AP2RCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power domains: cpm_clk */
				power-domains = <&sswrp_lsio_s_pd>;

				clocks = <&lsio_s_m4_clk>;
				clock-names = "MCLK4";
				clock-rates = <24576000>;

				/* Power sequence */
				power-sequencer = <&rear_main_camera_pwrseq>;

				power-up-seqs = "rear_main_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_main_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* resume sequence */
				resume-seqs = "reset";
				resume-seq-types = "gpio";
				/* TODO(b/416615547) Reduce resume sequence */
				/* delay after resolving sensor ID read failures. */
				resume-seq-delays-us = <90000>;

				/* suspend sequence */
				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* Actuator CORNERFOLK for BASTET */
			actuator0: actuator@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-cornerfolk";

				/* I2C */
				i2c-bus = <&lsios_i2c2>;
				i2c-addr = <0x0C>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_main_camera_pwrseq>;

				power-up-seqs = "rear_main_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_main_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* OIS VESTA for BASTET */
			ois0: ois@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "ois-vesta";

				/* I2C */
				i2c-bus = <&lsios_i2c2>;
				i2c-addr = <0x3C>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_main_camera_pwrseq>;

				power-up-seqs = "rear_main_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_main_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* EEPROM VESTA for BASTET */
			eeprom0: eeprom@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-vesta";

				/* I2C */
				i2c-bus = <&lsios_i2c2>;
				i2c-addr = <0x51>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* Power sequence */
				power-sequencer = <&rear_main_camera_pwrseq>;

				power-up-seqs = "rear_main_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_main_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <0>;
			};

			eeprom_cmd0: eeprom_cmd@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-cmd-vesta";

				/* I2C */
				i2c-bus = <&lsios_i2c2>;
				i2c-addr = <0x51>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_main_camera_pwrseq>;

				power-up-seqs = "rear_main_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_main_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <0>;
			};

			front_camera_pwrseq: front_camera_pwrseq@0 {
				compatible = "google,lwis-pwrseq-device";

				/* Device node name */
				node-name = "pwrseq-fmain";
				/* Power sequence target name */
				target-name = "front_camera";

				/* Sequencer sources */
				sequencer-sources = <&camera_base_pwrseq>;

				/* Power supplies */
				mvbuck-supply = <&cam_pp1350_mvbuck>;
				vio-supply = <&ldo_22s_reg>;
				vdig-supply = <&sgm38122_dvdd_csie>;
				afvm-supply = <&sgm38122_avdd1_csie>;
				vana-supply = <&sgm38122_avdd2_csie>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&ap2fcam0_mclk_24mhz>;
				pinctrl-1 = <&ap2fcam0_mclk_24mhz_sleep>;

				power-up-seqs =
					"camera_base",
					"mvbuck",
					"vio",
					"vana",
					"vdig",
					"afvm",
					"mclk_on";
				power-up-seq-types =
					"pwrseq",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pinctrl";
				power-up-seq-delays-us =
					<0
					 0
					 2500
					 0
					 1000
					 7100
					 0>;

				power-down-seqs =
					"mclk_off",
					"afvm",
					"vdig",
					"vana",
					"vio",
					"mvbuck",
					"camera_base";
				power-down-seq-types =
					"pinctrl",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pwrseq";
				power-down-seq-delays-us =
					<1000
					 1000
					 0
					 1000
					 0
					 200
					 0>;
			};

			/* FRONT CAMERA TAOTIE CSIE */
			sensor1: sensor@1 {
				compatible = "google,lwis-i3c-proxy-device";

				/* Device node name */
				node-name = "sensor-taotie-front";

				/* I2C */
				i2c-bus = <&lsioe_i3c1>;
				i2c-addr = <0x1A>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* I3C */
				i3c-enabled;
				i3c-dcr = <0>;

				/* GPIOs */
				reset-gpios = <AP2FCAM0_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power domains: cpm_clk */
				power-domains = <&sswrp_lsio_s_pd>;

				clocks = <&lsio_s_m6_clk>;
				clock-names = "MCLK6";
				clock-rates = <24576000>;

				/* Power up sequence */
				power-sequencer = <&front_camera_pwrseq>;

				power-up-seqs = "front_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "front_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* resume sequence */
				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <5000>;

				/* suspend sequence */
				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Power up mode */
				lwis,power-up-to-suspend;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <1>;
			};

			/* Actuator for FRONT CAMERA */
			actuator1: actuator@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-cornerfolk-taotie-front";

				/* I2C */
				i2c-bus = <&lsioe_i3c1>;
				i2c-addr = <0xC>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&front_camera_pwrseq>;

				power-up-seqs = "front_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "front_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <1>;
			};

			/* EEPROM SMAUG for TAOTIE Front */
			eeprom1: eeprom@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-taotie-front";

				/* I2C */
				i2c-bus = <&lsioe_i3c1>;
				i2c-addr = <0x51>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&front_camera_pwrseq>;

				power-up-seqs = "front_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "front_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <1>;
			};

			rear_uw_camera_pwrseq: rear_uw_camera_pwrseq@0 {
				compatible = "google,lwis-pwrseq-device";

				/* Device node name */
				node-name = "pwrseq-ruw";
				/* Power sequence target name */
				target-name = "rear_uw_camera";

				/* Sequencer sources */
				sequencer-sources = <&camera_base_pwrseq>;

				/* Power supplies */
				mvbuck-supply = <&cam_pp1350_mvbuck>;
				vio-supply = <&ldo_22s_reg>;
				vdig-supply = <&sgm38122_dvdd_csia>;
				afvm-supply = <&sgm38122_avdd1_csia>;
				vana-supply = <&sgm38122_avdd2_csia>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&ap2ruwcam_mclk_24mhz>;
				pinctrl-1 = <&ap2ruwcam_mclk_24mhz_sleep>;

				power-up-seqs =
					"camera_base",
					"mvbuck",
					"vio",
					"vana",
					"vdig",
					"afvm",
					"mclk_on";
				power-up-seq-types =
					"pwrseq",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pinctrl";
				power-up-seq-delays-us =
					<0
					 0
					 2500
					 0
					 1000
					 7100
					 0>;

				power-down-seqs =
					"mclk_off",
					"afvm",
					"vdig",
					"vana",
					"vio",
					"mvbuck",
					"camera_base";
				power-down-seq-types =
					"pinctrl",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pwrseq";
				power-down-seq-delays-us =
					<1000
					 1000
					 0
					 1000
					 0
					 200
					 0>;
			};

			/* REAR ULTRA WIDE CAMERA TAOTIE CSIA */
			sensor2: sensor@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-taotie-uw";

				/* I2C */
				i2c-bus = <&lsioe_i2c2>;
				i2c-addr = <0x1A>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				reset-gpios = <AP2RUWCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power domains: cpm_clk */
				power-domains = <&sswrp_lsio_s_pd>;

				clocks = <&lsio_s_m2_clk>;
				clock-names = "MCLK2";
				clock-rates = <24576000>;

				/* Power up sequence */
				power-sequencer = <&rear_uw_camera_pwrseq>;

				power-up-seqs = "rear_uw_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_uw_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* resume sequence */
				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <5100>;

				/* suspend sequence */
				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Power up mode */
				lwis,power-up-to-suspend;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <2>;
			};

			/* Actuator for REAR ULTRAWIDE CAMERA */
			actuator2: actuator@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-cornerfolk-taotie-uw";

				/* I2C */
				i2c-bus = <&lsioe_i2c2>;
				i2c-addr = <0xF>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&rear_uw_camera_pwrseq>;

				power-up-seqs = "rear_uw_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_uw_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <2>;
			};

			/* EEPROM SMAUG for UW */
			eeprom2: eeprom@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-taotie-uw";
				/* I2C */
				i2c-bus = <&lsioe_i2c2>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&rear_uw_camera_pwrseq>;

				power-up-seqs = "rear_uw_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_uw_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <2>;
			};

			rear_tele_camera_pwrseq: rear_tele_camera_pwrseq@0 {
				compatible = "google,lwis-pwrseq-device";

				/* Device node name */
				node-name = "pwrseq-rtele";
				/* Power sequence target name */
				target-name = "rear_tele_camera";

				/* Sequencer sources */
				sequencer-sources = <&camera_base_pwrseq>;

				/* Power supplies */
				pp1350_cam-supply = <&cam_pp1350_mvbuck>;
				pp1850_vio-supply = <&ldo_22s_reg>;
				pp2250_vana-supply = <&sgm38122_avdd2_csif_i2c>;
				pp1050_vdig-supply = <&sgm38122_dvdd_csif_i2c>;
				pp2850_afois_vana-supply =
					<&sgm38122_avdd1_csif_i2c>;
				pp3200_afois_vm-supply =
					<&sgm38122_avdd3_csif_i2c>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off",
						"vsync_on", "vsync_off";
				pinctrl-0 = <&ap2rtcam_mclk_24mhz>;
				pinctrl-1 = <&ap2rtcam_mclk_24mhz_sleep>;
				pinctrl-2 = <&rtcam2ap_vsync>;
				pinctrl-3 = <&rtcam2ap_vsync_sleep>;

				power-up-seqs =
					"camera_base",
					"pp1350_cam",
					"pp1850_vio",
					"pp2250_vana",
					"pp1050_vdig",
					"pp2850_afois_vana",
					"pp3200_afois_vm",
					"mclk_on",
					"vsync_on";
				power-up-seq-types =
					"pwrseq",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pinctrl",
					"pinctrl";
				power-up-seq-delays-us =
					<0
					 0
					 2500
					 0
					 1000
					 1000
					 1000
					 0
					 /* AF need 7.1ms (rounded to 8ms) before I2C stable,
					    added the remaining here */
					 7000>;

				power-down-seqs =
					"vsync_off",
					"mclk_off",
					"pp3200_afois_vm",
					"pp2850_afois_vana",
					"pp1050_vdig",
					"pp2250_vana",
					"pp1850_vio",
					"pp1350_cam",
					"camera_base";
				power-down-seq-types =
					"pinctrl",
					"pinctrl",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pwrseq";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 1000
					 0
					 1000
					 0
					 200
					 0>;
			};

			/* REAR TELE BARGHEST CSIF */
			sensor3: sensor@3 {
				compatible = "google,lwis-i2c-device";

				node-name = "sensor-barghest";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x2D>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				lwis,i2c-otp;
				i2c-otp-settings =
					<0xFCFC 0x4000
					 0x6010 0x0001>;
				i2c-otp-settle-time = <10000>;

				/* GPIOs */
				reset-gpios =
					<AP2RTCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power domains: cpm_clk */
				power-domains = <&sswrp_lsio_s_pd>;

				clocks = <&lsio_s_m5_clk>;
				clock-names = "MCLK5";
				clock-rates = <24576000>;

				/* Power up sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				lwis,power-up-to-suspend;

				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <10500>;

				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};

			/* EEPROM CHONKY for BARGHEST TELE*/
			eeprom3: eeprom@3 {
				compatible = "google,lwis-i2c-device";

				node-name = "eeprom-chonky";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x61>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <3>;
				lwis,disable-group-transfer;
			};

			/* Actuator CHONKY for BARGHEST TELE */
			actuator3: actuator@3 {
				compatible = "google,lwis-i2c-device";

				node-name = "act-chonky";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x61>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
				lwis,disable-group-transfer;
			};

			/* OIS CHONKY for BARGHEST TELE */
			ois3: ois@3 {
				compatible = "google,lwis-i2c-device";

				node-name = "ois-chonky";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x61>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power up sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
				lwis,disable-group-transfer;
			};

			/* EEPROM VESTA for BARGHEST TELE */
			eeprom4: eeprom@4 {
				compatible = "google,lwis-i2c-device";

				node-name = "eeprom-vesta-barghest";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x51>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* Power sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <3>;
			};

			eeprom_cmd4: eeprom_cmd@4 {
				compatible = "google,lwis-i2c-device";

				node-name = "eeprom-cmd-vesta-barghest";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x51>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				i2c-lock-group-id = <3>;
			};

			/* Actuator CORNERFOLK for BARGHEST TELE */
			actuator4: actuator@4 {
				compatible = "google,lwis-i2c-device";

				node-name = "act-cornerfolk-barghest";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x0C>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};

			/* OIS VESTA for BARGHEST TELE */
			ois4: ois@4 {
				compatible = "google,lwis-i2c-device";

				node-name = "ois-vesta-barghest";

				i2c-bus = <&lsios_i2c3>;
				i2c-addr = <0x3C>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* Power sequence */
				power-sequencer = <&rear_tele_camera_pwrseq>;

				power-up-seqs = "rear_tele_camera", "resume";
				power-up-seq-types = "pwrseq", "controller";
				power-up-seq-delays-us = <0 0>;

				power-down-seqs = "suspend", "rear_tele_camera";
				power-down-seq-types = "controller", "pwrseq";
				power-down-seq-delays-us = <0 0>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};
		};
	};
};
