config MTK_WWAN_PWRCTL_SUPPORT
	bool "Enable MTK GPIO control from MTK PCIe driver"
	default n
	help
	  Enable the MTK PCIe host driver to call power control function
	  from the wwan_pwrctl driver. This is required to sync the reset
	  logic from PCIe and inform the wwan_pwrctl driver about the
	  power reset.

config MTK_HOST_DRV_WWAN_SUPPORT
	bool "Enable MTK WWAN support"
	default n
	help
	  Use the wwan functions instead of the generic cdev functions for
	  the supported /dev nodes.

config MTK_DATA_CPU_LOADING_OPTIMIZE
	bool "Enable AP optimizations for DPMAIF"
	default n
	help
	  Enable caching and CPU affinity for the data path (DPMAIF).

config MTK_DEVLINK
	bool "Enable devlink interface for MTK modem"
	default n
	help
	  Enable the devlink interface for the MTK modem. This maybe used
	  to expose things to the userspace that are not directly related
	  to a device class like char/wwan node, but rather the whole modem
	  itself.

config MTK_DEVLINK_COREDUMP_SUPPORT
	bool "Enable postdump support for MTK modem"
	select MTK_DEVLINK
	default n
	help
	  Enable the postdump support for MTK modem.

config MTK_DEVLINK_LOGDUMP_SUPPORT
	bool "Enable logdump from MTK modem"
	select MTK_DEVLINK
	default n
	help
	  Enable the logdump support from MTK modem.

config MTK_MEMLOG_EVENT_SUPPORT
	bool "Support memlog event in Thin MD host driver"
	default n
	help
	  Used to control the memlog event feature of the Thin MD host driver.
	  When this option is enabled, host driver will print
	  high-frequency logs in hex format.
	  The logs printed in hex format need to be parsed into
	  plain text using a post-processing tool.
	  Say Y here if need to enable memlog event in host driver.
	  If unsure, say N.

config GOOGLE_ASPM_CONTROL
	bool "Enable upstream style ASPM control"
	depends on ARCH_GOOGLE
	default y
	help
	  Replace vendor's direct register accesses with Linux standard API:
	  pci_enable_link_state. This ensures the driver following PCI spec
	  correctly and allows consistent system-wide policy to be overlaid on top
	  of any driver-specific requests.

config GOOGLE_WWAN_PKT_PRIO
	bool "Google WWAN packet prioritization"
	depends on ARCH_GOOGLE
	default n
	help
	  Enable support for Google-specific WWAN packet prioritization
	  based on skb->mark bits 29 and 30. This is used by the
	  MediaTek WWAN driver.

config GOOGLE_LINK_DOWN_MMIO_PROTECT
	bool "Enable link down MMIO protection"
	depends on ARCH_GOOGLE
	default y
	help
	  This enables link checks in resume and REBOOTINT flow to avoid
	  bus hang when link up failed.

config GOOGLE_ATR_WRITE_RETRY
	bool "Enable retry for ATR programming"
	depends on ARCH_GOOGLE
	default y
	help
	  This enables retry mechanism for ATR programming to mitigate the
	  BAR2/3 access issue which may result in resume timeout or SRAMROM
	  violation.

config GOOGLE_B503643353_DEBUG
	bool "b/503643353 debug patch"
	depends on ARCH_GOOGLE
	default y
	help
	  This adds verbose logging for usr_cnt of cldma1q4.

config GOOGLE_B493109074_DEBUG
	bool "b/493109074 debug patch"
	depends on ARCH_GOOGLE
	default y
	help
	  Enable debug patch for b/493109074.
	  This patch dumps more fields other than the sequence number. This
	  could help us to understand the corrupted pattern further.

config GOOGLE_B495424578_DEBUG
	bool "b/495424578 debug patch"
	depends on ARCH_GOOGLE
	default y
	help
	  This dumps BAR2/3 ATR after setup.

config GOOGLE_B507778536_DEBUG
	bool "b/507778536 debug patch"
	depends on ARCH_GOOGLE
	default y
	help
	  This enables link error reporting when both MHCCIF stat and mask
	  are 0xffffffff.

config GOOGLE_B528903481_DEBUG
	bool "b/528903481 debug patch"
	depends on ARCH_GOOGLE
	default y
	help
	  This dumps CLDMA/DPMAIF registers when a link error is detected.
