# CONFIG_MODULE_SIG_ALL is not set
CONFIG_ARCH_GOOGLE=y
CONFIG_ARM_DSU_PMU=m
CONFIG_ARM_NI=m
CONFIG_ARM_SMMU_V3_PIXEL=m
CONFIG_ARM_SMMU_V3_PKVM_PIXEL=m
CONFIG_ARM_SMMU_V3_PMU_PIXEL=m
CONFIG_ARM_SPE_PMU=m
CONFIG_CODEC3P=m
CONFIG_CODEC3P_SLC=n
CONFIG_CODEC3P_VCORE_APG=y
CONFIG_CODEC3P_VPU_RESET=y
CONFIG_CORESIGHT=m
CONFIG_CORESIGHT_CATU=m
CONFIG_CORESIGHT_DUMMY=m
CONFIG_CORESIGHT_LINKS_AND_SINKS=m
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=m
CONFIG_CORESIGHT_SOURCE_ETM4X=m
CONFIG_CORESIGHT_STM=m
CONFIG_CORESIGHT_TRBE=m
CONFIG_COMMON_PANEL_TEST=m
CONFIG_DEBUG_PANEL_TEST=y
CONFIG_DRM_DW_MIPI_CDPHY=m
CONFIG_DRM_DW_MIPI_DSI2H=m
CONFIG_DRM_VERISILICON=m
CONFIG_DWC_DPTX=m
CONFIG_DWC_DPTX_AUDIO=y
# CONFIG_EXYNOS_PD_EL3 is not set
CONFIG_GIA_LIB=m
CONFIG_GOOGLE_AOSS_WDT_HANDLER=m
CONFIG_GOOGLE_ACFW_DEBUG=m
CONFIG_GOOGLE_BCL=m
CONFIG_GOOGLE_BCL_MAX77779=y
CONFIG_GOOGLE_CHIP_INFO=m
CONFIG_GOOGLE_CAP_SYSFS=m
CONFIG_GOOGLE_CPM_CLK=m
CONFIG_GOOGLE_CPM_RST=m
CONFIG_GOOGLE_CPU_LPM_STATS=m
CONFIG_GOOGLE_DA9188_GPIO=m
CONFIG_GOOGLE_DA9188_REGULATOR=m
CONFIG_GOOGLE_DA9188_REGULATOR_REGISTER_ACCESS=y
CONFIG_GOOGLE_DA9188_RTC=m
CONFIG_GOOGLE_DA9188_VGPIO=m
CONFIG_GOOGLE_DVFS_HELPER=m
CONFIG_GOOGLE_DVFS_TARGET_FRONTEND=m
CONFIG_GOOGLE_DW_I3C_MASTER=m
CONFIG_GOOGLE_DW_I3C_MASTER_THI=m
CONFIG_GOOGLE_DW_I3C_XFER_HOST_AP=m
CONFIG_GOOGLE_EHLD_COREINSTR=m
CONFIG_GOOGLE_MFD_DA9188=m
CONFIG_GOOGLE_GDMC_DHUB=m
CONFIG_GOOGLE_GIA_IRQ=m
CONFIG_GOOGLE_GIA_TEST=m
CONFIG_GOOGLE_H2OMG=m
CONFIG_GOOGLE_IRQ_EXTENDED_SYSFS=m
CONFIG_GOOGLE_GPU_PF_STATE=m
CONFIG_GOOGLE_GTC=m
CONFIG_GOOGLE_ICC_HELPER_MOCK_CLIENT=m
CONFIG_GOOGLE_IRM=m
CONFIG_GOOGLE_IRM_DEVFREQ=m
CONFIG_GOOGLE_MBA_AGGREGATOR=m
CONFIG_GOOGLE_MBA_CPM_INTERFACE=m
CONFIG_GOOGLE_MBA_CPM_INTERFACE_TEST=m
CONFIG_GOOGLE_MBA_DOORBELL_INTERFACE=m
CONFIG_GOOGLE_MBA_GDMC_INTERFACE=m
CONFIG_GOOGLE_MBA_GDMC_INTERFACE_TEST=m
CONFIG_GOOGLE_MBA_EBU_INTERFACE=m
CONFIG_GOOGLE_MODEM_UART=m
CONFIG_GOOGLE_ODPM=m
CONFIG_GOOGLE_POWERDASHBOARD=m
CONFIG_GOOGLE_POWER_CONTROLLER=m
CONFIG_GOOGLE_RADIO_BRIDGE=m
CONFIG_GOOGLE_SKIP_S2M_VOTER=m
CONFIG_GOOGLE_SST_PLATFORM=m
CONFIG_GOOGLE_SYSPM=m
CONFIG_GOOGLE_TIMESTAMP_SYNC=m
CONFIG_GOOGLE_TRACE_SOURCE=m
CONFIG_GOOGLE_VOLATILE_DEBUG_UNLOCK=m
CONFIG_GOOGLE_FWMT=m
CONFIG_GOOGLE_MBA_CTRL=m
CONFIG_GOOGLE_LPM_PM_DOMAINS=m
CONFIG_GOOGLE_USB_PHY=m
CONFIG_GOOGLE_EUSB2_REPEATER=m
CONFIG_GOOGLE_USB_ROLE_SW=m
CONFIG_GOOGLE_WDT=m
CONFIG_GOOG_TOUCH_INTERFACE=m
CONFIG_GS_DOMAIN_IDLE=m
CONFIG_GS_DRM_PANEL_UNIFIED=m
CONFIG_GS_PANEL_SIMPLE=m
CONFIG_GS_PERF_MON=m
CONFIG_GSA=m
CONFIG_GSA_GSC=m
CONFIG_GSA_LINUX_MAILBOX=y
CONFIG_GSA_LOG_REGION_SIZE=0x4000
CONFIG_GSA_WAKELOCK=y
CONFIG_HARDLOCKUP_DEBUG_LGA=m
CONFIG_HARDLOCKUP_WATCHDOG=m
CONFIG_I2C_DW_GOOGLE_CORE=m
CONFIG_I2C_DW_GOOGLE_TEST=m
CONFIG_I2C_DW_GOOGLE_QUIRKS=m
CONFIG_NVMEM_RMEM=m
CONFIG_PINCTRL_GOOGLE=m
CONFIG_PINCTRL_MBU=y
CONFIG_PIXEL_CME=y
CONFIG_PIXEL_IOMMU_MAP_BENCHMARK=m
CONFIG_POWERVR_MBU=y
CONFIG_POWERVR_PIXEL_IIF=y
CONFIG_POWERVR_ROGUE=m
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_8250_DW_GOOGLE_QUIRKS=m
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_SOC_MBU=y
CONFIG_SOFT_WATCHDOG=m
CONFIG_SPI_DESIGNWARE=m
CONFIG_SPI_DW_DMA=y
CONFIG_SPI_DW_GOOGLE_QUIRKS=m
CONFIG_SPI_LOOPBACK_TEST=m
CONFIG_SPI_SPIDEV=y
CONFIG_TICK_DRIVEN_LATGOV=m
CONFIG_TOUCHSCREEN_HEATMAP=m
CONFIG_TOUCHSCREEN_OFFLOAD=m
CONFIG_TOUCHSCREEN_TBN=m
CONFIG_TOUCHSCREEN_TBN_AOC_CHANNEL_MODE=y
CONFIG_TZ_PROT=m
CONFIG_UFS_DW_GOOGLE=m
CONFIG_UFS_PIXEL_CRYPTO=y
CONFIG_UFS_PIXEL_FEATURES=y
CONFIG_UFS_PIXEL_READ_BOOST=y
CONFIG_UFS_PIXEL_UIC_ERR_DEBUG=y
CONFIG_USB_DWC3_GOOGLE=m
CONFIG_USB_DWC3_GOOGLE_AUX=m
CONFIG_VERISILICON_CHIP_9x00=y
CONFIG_VERISILICON_DC9400_0x20000005=y
# CONFIG_VERISILICON_DC9400_0x316 is not set
CONFIG_VERISILICON_DC9400_0x32a=y
CONFIG_VERISILICON_MIPI_DSI2H=y
CONFIG_VERISILICON_ONE_LAYER_G2D=y
CONFIG_VH_KERNEL=y
CONFIG_PIXEL_EM=m
CONFIG_VH_FS=m
CONFIG_VH_MM=m
CONFIG_VH_CGROUP=m
CONFIG_VH_SCHED=m
CONFIG_VH_PREEMPTIRQ_TRACEPOINTS=m
CONFIG_VH_SCHED_MAX_CPU_NR=7
CONFIG_VH_SYSTRACE=m
CONFIG_VH_THERMAL=m
CONFIG_PIXEL_METRICS=m
CONFIG_THERMAL_METRICS=y
CONFIG_PERF_METRICS=y
CONFIG_CPUIDLE_METRICS=y
CONFIG_AOC_DRIVER=m
CONFIG_AOC_MBU=y
CONFIG_AOC_ALSA_USB=y
CONFIG_AOC_ALSA_DP_AUDIO=y
CONFIG_AOC_ALSA_INCALL_CAP_3=y
CONFIG_AOC_ALSA_IAMF=y
CONFIG_AOC_USB_AUDIO_OFFLOAD=y
CONFIG_AOSS_SSR_NOTIFIER=m
CONFIG_PCIE_GOOGLE_PHY=m
CONFIG_PCIE_DW_GOOGLE_V2=m
CONFIG_GOOGLE_GEM=m
CONFIG_GOOGLE_GEM_TEST=m
CONFIG_CHR_DEV_SG=m
CONFIG_DEBUG_REBOOT=m
CONFIG_DMABUF_HEAPS_DEFERRED_FREE=m
CONFIG_DMABUF_HEAPS_PAGE_POOL=m
CONFIG_PIXEL_GCMA=m
CONFIG_DMABUF_HEAPS_GOOGLE_GCMA=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CARVEOUT=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CHUNK=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CMA=y
CONFIG_DMABUF_HEAPS_SAMSUNG_SYSTEM=y
CONFIG_DMABUF_SAMSUNG_HEAPS=m
CONFIG_EEPROM_AT24=m
CONFIG_EXYNOS_CONTENT_PATH_PROTECTION=m
CONFIG_GOOGLE_CDD_CPU_IDLE_INFO=m
CONFIG_GOOGLE_CRASH_DEBUG_DUMP=m
CONFIG_GOOGLE_GPDMA=m
CONFIG_GOOGLE_IRQ_CPM=m
CONFIG_GOOGLE_LOGBUFFER=m
CONFIG_GOOGLE_REGMAP_SPMI=m
CONFIG_GOOGLE_VOTABLE=m
CONFIG_GS_DEBUG_TEST=m
CONFIG_I2C_CHARDEV=m
CONFIG_INPUT_KEYCOMBO=m
CONFIG_INPUT_KEYDEBUG=m
CONFIG_KERNEL_TOP=m
CONFIG_MFD_SLG51002=m
CONFIG_REGULATOR_S2DOS07X02_GS=m
CONFIG_REGULATOR_SGM38122=m
CONFIG_REGULATOR_SGM38125=m
CONFIG_PINCTRL_SLG51002=m
CONFIG_PIXEL_DEBUG_KINFO=m
CONFIG_PIXEL_DEBUG_TEST=m
CONFIG_PIXEL_POWER_REBOOT=m
CONFIG_PIXEL_STAT=m
CONFIG_PIXEL_STAT_MM=m
CONFIG_PL330_DMA_GOOGLE=m
CONFIG_PROACTIVE_KILL=m
CONFIG_REGULATOR_SLG51002=m
CONFIG_REGULATOR_SY70206=m
CONFIG_REGULATOR_TPS628600_GS=m
CONFIG_SBB_MUX=m
CONFIG_SMRA=m
CONFIG_SOC_GOOGLE=y
CONFIG_SPMI_SMARTDV=m
CONFIG_SUBSYSTEM_COREDUMP=m
CONFIG_TCPCI_VENDOR_HOOKS=y
CONFIG_TOWERCI=m
CONFIG_TRUSTY=m
CONFIG_TRUSTY_CRASH_IS_PANIC=y
CONFIG_TRUSTY_DMA_BUF_FFA_TAG=y
CONFIG_TRUSTY_WAKELOCK=m
CONFIG_TYPEC_COOLING_DEV=m
CONFIG_TYPEC_MAX77759_CONTAMINANT=m
CONFIG_TYPEC_MAX77779_CONTAMINANT=m
CONFIG_TYPEC_MAX777X9_SPMI=m
CONFIG_GPIO_PCA953X=m
CONFIG_REGULATOR_RT6160_GS=m
CONFIG_PERF_TRACE_CTRS=m
CONFIG_GOOGLE_IIS=m
