CONFIG_CNSS2=m
CONFIG_CNSS_OUT_OF_TREE=y
CONFIG_CNSS2_QMI=y
CONFIG_CNSS_QMI_SVC=m
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CNSS2_SSR_DRIVER_DUMP=y
CONFIG_CNSS2_SMMU_DB_SUPPORT=y
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_WCNSS_MEM_PRE_ALLOC=m
CONFIG_CNSS2_DEBUG=y
CONFIG_CNSS2_FMD_FEATURE_ENABLE=y
CONFIG_MHI_BUF_LEN=32768
CONFIG_WCN_GOOGLE=y
CONFIG_QCOM_RAMDUMP=y
CONFIG_QCOM_MEMORY_DUMP_V2=y
CONFIG_GOOG_USE_PWRCTRL=y
