CONFIG_GOOGLE_MD2AP_WAKEUP_MONITOR=y
CONFIG_GOOGLE_MODEM_CDD=y
CONFIG_GOOGLE_MODEM_SOC_BW_QOS=y
CONFIG_GOOGLE_WWAN_PKT_PRIO=y
CONFIG_METRICS_COLLECTION_FRAMEWORK=m
CONFIG_MTK_WWAN_PWRCTL_SUPPORT=y
CONFIG_MTK_HOST_DRV_WWAN_SUPPORT=y
CONFIG_MTK_DATA_CPU_LOADING_OPTIMIZE=y
CONFIG_MTK_DEVLINK=y
CONFIG_MTK_DEVLINK_LOGDUMP_SUPPORT=y
CONFIG_MTK_MEMLOG_EVENT_SUPPORT=y
# private/google-modules/touch/sec/p26/Kconfig
CONFIG_TOUCHSCREEN_SEC_TS=m
CONFIG_INPUT_POWER_KEYDEBUG=m
